@{
    ViewBag.Title = "About";
}


<div class="panel panel-info" style="margin-top:5%">
    <h3 class="text-center panel-heading">About BP Office Suppliers</h3>
    <div class="panel-body">
        <p>
            BP Office Suppliers is a small to medium enterprise which was established in 2016. Our primary focus is to supply office equipment and stationery to organisations within the Durban and greater KZN area.
            Mr C Pillay has been involved in the stationery/office equipment industry for many years and during this time he has built strong relationships with many major suppliers.  It was in 2016 that Mr C Pillay and his son Mr B Pillay noticed a gap in the industry and took this as an opportunity to start up BP Office Suppliers.  Being a family run business this ensures that every client is given the utmost attention with personalised service and quick turnaround times.
            BP Office Suppliers vision and mission is to become the preferred supplier of office equipment /stationery nationally.
        </p>
    </div>
</div>



