@{
    ViewBag.Title = "Contact";
}


<div class="panel panel-info" style="margin-top:5%">
    <h3 class="text-center panel-heading">Contact Us</h3>
    <div class="panel-body">

        <div class="panel panel-warning">
            <h3 class="panel-heading">Address</h3>

            <div class="panel-body">
                <address>

                    116 NORTHCROFT DRIVE<br />
                    PHOENIX, DURBAN
                    KWA-ZULU NATAL <br />
                    4068<br />
                </address>
            </div>
        </div>

        <div class="panel panel-warning">
            <h3 class="panel-heading">Contact</h3>

            <div class="panel-body">
                <address>

                    TEL: 031 500 5647<br />
                    FAX: 031 500 2451<br />
                    FAX TO EMAIL: 086 465 1366<br />
                    EMAIL: <a href="mailto:bpofficesuppliers@gmail.com">bpofficesuppliers@gmail.com</a><br />
                </address>
            </div>
        </div>
    </div>

</div>
